<section class="about-index">
  <header class="page-header">
    <div class="about">
      <h1>About Us</h1>
      <p>Welcome to Jungle, where we specialize in delivering top-notch solutions to meet your needs. Our team is dedicated to providing exceptional service and innovative products.</p>
      <p>Feel free to use those plants to defend yourself during a zombie apocalypse!</p>
      <div class="gif-container">
        <img src="https://kidsaregamers.com/wp-content/uploads/2018/08/plants-v-zombies.gif" alt="Plants vs Zombies" />
      </div>
    </div>
  </header>
</section>